.footer {
  background-color: var(--footer-color);
}

.left-side-footer {
  margin-right: 70px;
}

.footer-container {
  display: flex;
  justify-content: baseline;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo-one {
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  display: inline-block;
}

.footer-logo-two {
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);

  display: inline-block;
}

.adress-list {
  margin-top: 20px;
}

.footer-adress-link {
  color: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);

  display: inline-block;
}

.footer-email-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-top: 9px;
}

.footer-phone-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  display: inline-block;
  margin-top: 9px;
}

.join-title {
  font-weight: 700;
  font-size: 14px;

  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  padding-bottom: 23px;
}

/* social */

.join-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.join-social-item:nth-child(4n + 4) {
  margin-right: 0px;
}

.join-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-social-list {
  display: flex;
  justify-content: center;
}

.join-social-icon {
  fill: var(--main-title-color);
}

.join-social-link:hover,
.join-social-link:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

/* ---subscribe---- */

.subscribe-footer {
  margin-left: 93px;
}

.subscribe-form-input:focus,
.subscribe-form-input:hover {
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
}

.subscribe-form-input {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-subscribe-text {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-wrap {
  display: flex;
  align-items: center;
}

.subscribe-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 12px;
  outline: none;
  display: flex;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--footer-color);
  color: #ffffff;
}

.subscribe-submit {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-button-subscribe {
  display: flex;
}

.input-icon-mail {
  fill: var(--main-title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 7px;
}
