.what-we-do-list {
  display: flex;
}

.what-we-do {
  padding-top: 0px;
}

.what-we-do-list-item {
  margin-right: 30px;
}
.what-we-do-list-item:nth-child(3n + 3) {
  margin-right: 0px;
}

.what-we-do_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
  margin-bottom: 50px;
}
