header {
  background-color: var(--main-title-color);
  color: var(--header-text-color);
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--main-title-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}
